@import "./Styles/base.scss";

.main {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(255,255,255,0.95);
}


.player-scores {
    display: flex;
    flex-direction: column;
}

.score-row {
    color: rgba(255,255,255,0.95);
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14;

    .label {
        
    }

    .name {
    }
}

.top-players-title {
    font-size: 32px;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $c-primary-dark;
    text-align: center;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-bottom-left-radius: 16px;
}

.your-score {
    color: rgba(255,255,255,0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        font-size: 32px;
    }

    .score {
        font-size: 20px;
    }

    padding-bottom: 16px;
    border-bottom: solid 2px rgba(0,0,0,0.8);
}
