@import "Styles/variables.scss";

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255,255,255,0.9);
    font-size: 32;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 1;
    background-color: $c-primary-dark;
    pointer-events: all;
    .button {
        margin: 8px;
    }
}
