@import "/Degg/Ui/Styles/variables.scss";

.stat-ui {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    border-radius: 100%;
    padding: 32px;
    background-color: $c-primary;
    border-color: rgba(0,0,0,0.8);
    color: white;
    font-weight: bold;
    padding: 8px;

    &.good {
        background-color: $c-success;
    }

    &.bad {
        background-color: $c-danger;
    }
}
