$c-primary: #3D3A4B;
$c-primary-dark: #131217;
$c-secondary: #E3DFFF;

$c-success: #378F2B;
$c-danger: #E23D41;

$size-sm: 8px;

$size-md: 16px;

$size-lg: 32px;


$font-base: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;