.main {
    display: flex;
    flex-direction: column;
        padding: 32px;
}

.h1 {
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

.h2 {
    font-size: 12px;
    width: 100%;
}

.p {
    padding-left: 32px;
}
