@import "variables.scss";

.button {
    background-color: $c-primary;
    cursor: pointer;
    color: rgba(255,255,255,0.9);
    padding-left: $size-md;
    padding-right: $size-md;
    padding-top: $size-sm;
    padding-bottom: $size-sm;

    &:hover {
        background-color: $c-secondary;
        color: rgba(0,0,0,0.90);
    }

    &.active {
        background-color: $c-secondary;
        color: rgba(0,0,0,0.90);
    }
}